body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(to bottom right, #1e61f0, #f5d9e1) !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    max-width: 80%;
    position: absolute;
    top: 15%;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}